body{
  background-color: hsl(0, 0%, 9%);
  font-family: 'Bahnschrift Condensed';
  color: white;
  margin: 0;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 25px 0;
}
.header .name{
  margin: 0 10px;
  font-size: 30px;
  font-weight: 600;
  white-space: nowrap;
}
.header nav{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header nav a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}
.header nav div{
  padding: 10px;
  margin: 0px 20px
}
@media (max-width: 700px){
  .header{
    justify-content: space-between;
  }
  .header nav a{
    display: none;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}